<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{username}},</p>
        <p>Here is the verification OTP for your account : .</p>
        <p style="font-size: 18px; font-weight:700"> {{otp}} </p>
        <p>If you didn't request an OTP verification please contact us</p>
    </body>
</html>